.card {
    display: block;
    padding: 20px var(--main-padding);
    border-radius: calc(2 * var(--root-radius));
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px var(--border-color);
    background-color: var(--surface-color);
}

.box-special {
    position: absolute;
    z-index: -1;
    display: block;
    color: transparent;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    user-select: none;
    pointer-events: none;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

#mq-detect {
    #mq-desktop {
        display: block;

        @include media_breakpoint(tablet) {
            display: none;
        }
    }

    #mq-tablet {
        display: none;

        @include media_breakpoint(tablet) {
            display: block;
        }
    }

    #mq-mobile {
        display: none;

        @include media_breakpoint(mobile) {
            display: block;
        }
    }
}