:root {
    --text-color: #000000;
    --light-text-color: #161616;
    --surface-color: #FFFFFF;
    --grey-color: #8f8f8f;
    //--lighther-grey-color: #E9E6F3;
    --primary-color: #1253a2;
    --light-primary-color: #2f8cff;
    --lighther-primary-color: #a6b7d4;
    //--secondary-color: #58CAB7;
    //--accent-color: #F98326;
    --error-color: #ae0a0a;
    --main-background: #fbfcfd;
    --border-color: #eeeff1;
    --action-border-color: #CCCCCC;

    //--main-font-family: 'Arial';
    --main-font-family: 'Myriad Pro';
    --action-height: 35px;
    --root-radius: 5px;
    --mq-desktop: 1280px;
    --mq-mobile: 960px;
    --desktop-padding: 25px 25px;
    --mobile-padding: 10px 16px;
    --main-padding: 25px;
}

